* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin: 30px auto;
    width: 90%;
    max-width: 650px;
    border-radius: 3rem;
    box-shadow: 0 0 3px gray;
}

.quiz {
    padding: 0 50px 20px;
    min-height: 30vh;
    margin-top: 30px;
}

.question {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 5px 0;
}

.answer {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: rgb(24, 23, 23);
    font-weight: 500;
    font-size: 1rem;
}

.answer input {
    margin-right: 10px;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    
}

.btn button {
    font-size: 1.12rem;
    color: white;
    background-color: navy;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    margin-bottom: 30px;
}

.btn button:hover {
    background-color: green;
}

label {
    display: flex;
}

.title{
    padding: 10px 50px;
    line-height: 1.5;
    margin-top: 80px;
}

.title p {
    font-size: 1.4rem;
}

.instructions{
    text-align: center;
    padding: 50px;
    line-height: 1.5;
}